@blue: #3183bd;

@backgroundColor: darken(white, 10%);

@lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
  background-color: @backgroundColor;
}

body {
  background-color: white;
  font-family: @lato;
}

.hero {
  background-color: @blue;
  color: white;
}
