{% extends "base.html" %}

{% block body %}

<header class="jumbotron">
  <div class="container">
    <div class="hero">
      <span class="pubdate" data-handle="article_date">{{ article.created_date|article_date }}</span>
      <h1 data-handle="article_title">{{ article.meta.title }}</h1>
      <h2 data-handle="article_teaser">{{ article.meta.teaser }}</h2>
    </div>
  </div>
</header>

<article class="container">
  <div class="column" data-handle="article_body">
    {{ article.body|safe }}
  </div>
</article>

{% endblock %}
