{% extends "base.html" %}

{% block body %}

<header class="jumbotron">
  <div class="container">
    <div class="hero">
      <span class="pubdate" role="article-date">{{ article.created_date|article_date }}</span>
      <h1 role="article-title">{{ article.meta.title }}</h1>
      <h2 role="article-teaser">{{ article.meta.teaser }}</h2>
    </div>
  </div>
</header>

<article class="article-detail container">
  <div class="column" role="article-body">
    {{ article.body|safe }}
  </div>
</article>

{% endblock %}
