<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Personal site for Rob Madole{% endblock %}</title>
    <meta name="viewport" content="width=1024">
    {% include "head/javascript.html" %}
    {% include "head/css.html" %}
  </head>

  <body>
    {% block nav %}

      {% include "nav.html" %}

    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}

      {% include "footer.html" %}

    {% endblock %}
  </body>

  {% include "tracking/google.html" %}
</html>
