<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Personal site for Rob Madole{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "head/javascript.html" %}
    {% include "head/css.html" %}
  </head>
  <body>
  {% block nav %}
    <nav class="container">
      <span><a href="/">robmadole.com</a></span>
      <ul>
        <li><a href="//twitter.com/robmadole"><i class="icon-twitter"></i> Twitter</a></li>
        <li><a href="//github.com/robmadole"><i class="icon-github"></i> GitHub</a></li>
        <li><a href="{{ url_for('article_list') }}"><i class="icon-pencil"></i> Articles</a></li>
        <li><a href=""><i class="icon-book"></i> Bookmarks</a></li>
      </ul>
    </nav>
  {% endblock %}

  {% block body %}

  {% endblock %}
  </body>
</html>
