<nav class="{{ nav_type }}">
  <div class="container">
    <span><a href="/"><i class="icon-double-angle-right"></i> robmadole.com</a></span>
    <ul>
      <li><a href="http://twitter.com/robmadole"><i class="icon-twitter"></i> Twitter</a></li>
      <li><a href="http://github.com/robmadole"><i class="icon-github"></i> GitHub</a></li>
      <li><a href="{{ url_for('article_list') }}"><i class="icon-pencil"></i> Articles</a></li>
      <li><a href="{{ url_for('bookmark_list') }}"><i class="icon-book"></i> Bookmarks</a></li>
    </ul>
  </div>
</nav>
